.filtered {
  margin-top: 10%;
  text-align: center;
}

#form-filter {
  width: 50%;
  height: 40px;
  text-indent: 5px;
  border-radius: 10px;
  font-size: 1rem;
}

form button {
  width: 30%;
  font-size: 1.1rem;
}

@media only screen and (min-width: 768px) {
  .filtered {
    margin-top: 5%;
  }
  #form-filter {
    width: 30%;
    font-size: 1.1rem;
    text-align: center;
  }
  form button {
    width: 10%;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
