.card .map-wrap {
  position: relative;
  width: 45vw;
  height: 260px;
}

.card .map {
  width: 100%;
  height: 100%;
}

.details .map-wrap {
  width: 90%;
  height: 210px;
  border-radius: 5px;
  overflow: hidden;
}

.details .map {
  width: 100%;
  height: 100%;
}

.details-body {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .details .map-wrap {
    width: 60%;
    height: 310px;
  }

  .details-body {
    width: 40%;
  }
}
