.card .map-wrap {
  position: relative;
  width: 45vw;
  height: 250px;
}

.card .map {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.maplibregl-ctrl-attrib.maplibregl-compact-show {
  display: none;
}

.details .map-wrap {
  box-sizing: border-box !important;
  position: relative;
  width: 50%;
  height: 250px;
  margin-right: 0 !important;
}

.details .map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.details-body {
  width: 50%;
}

